<h2>Portfolio</h2>
<div class="cards-container">
    <div class="card">
        <img src="img/graphic-design.jpg" alt="Thumbnail 1">
        <p>Graphic Design</p>
    </div>
    <div class="card">
        <img src="img/logo-design.jpg" alt="Thumbnail 2">
        <p>Logo Design</p>
    </div>
    <div class="card">
        <img src="img/photography.jpg" alt="Thumbnail 3">
        <p>Photography</p>
    </div>
    <div class="card">
        <img src="img/sketching.jpg" alt="Thumbnail 4">
        <p>Sketching</p>
    </div>
    <div class="card">
        <img src="img/website-design.jpg" alt="Thumbnail 5">
        <p>Website design</p>
    </div>
    <div class="card">
        <img src="img/ui-design.jpg" alt="Thumbnail 6">
        <p>UI Design</p>
    </div>
</div>